*{
	margin: 0;
	padding: 0;
}

body{
	font-family: arial, sans-serif;
	font-size: 16px;
}

nav#menu ul {	
	background-color: #81A70F;
	width: 100%;
	position: fixed;
}

nav#menu ul li{
	display: inline;
	line-height: 60px;	
}

nav#menu a:link, a:visited{
	text-transform: uppercase; /*transformar em maiusculo*/
	font-size: 20px; /*tamanho da fonte*/
	text-decoration: none; /*retirar o underline*/
	color: #A74F13; /*cor do link*/
	padding: 20px; /*espaçamento*/
	text-shadow: 1px 1px #000000; /*sombra no texto*/
}

nav#menu a:hover, a:active{
	background-color: #A74F13;
	color: #81A70F;
}

#banner{
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 760px;
}

h1{
	font-size: 3.0em;
	padding-bottom: 40px;
	padding-top: 45px;
	text-indent: 0px !important;
}

#about{
	background-image: url("../images/banner2.jpg");
	font-size: 2.0em;
	padding: 60px;
	height: 760px;
	text-indent: 60px;
	line-height: 50px;
}

#gallery{
	background-color: #EBB001;
	height: 760px;
	padding: 60px;
	font-size: 2.0em;
}

#gallery .galeria{
	width: 350px;
	height: 250px;
	border: 3px #FFF solid;
	margin: 20px;
	box-shadow: 5px 5px 20px #000;
	border-radius: 10px;
}

#maps{
	background-color: #EBB001;
	padding-top: 60px;
}

#contacts{
	background-color: #F23005;
	height: 760px;
	font-size: 1.8em;
	padding: 60px;
}

#contacts label, button{
	display: block;
}

#contacts input, textarea{
	width: 600px;
	padding: 4px;
	font-size: 0.7em;
	border: none;
	margin-bottom: 10px;
}

#contacts button{
	background-color: #000;
	border: 0;
	padding: 10px;
	font-size: 1.0em;
	color:  #F23005;
}

footer{
	line-height: 40px;
	padding: 20px;
	float: right;
}